<% if gmov.present? %>
	<tr>
    <td><%= gmov.Linea %></td>
    <td><%= gmov.CodProd %></td>
    <td><%= gmov.DetProd %></td>
    <td class="bg-danger"><%= gmov.CantFacturada %></td>   
  </tr>
<% end %>