@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.container-narrow > hr {
  margin: 30px 0;
}

#login {
  margin-top: 10%;
  box-shadow: 0 0 18px #ccc;
}

.navbar-brand {
    font-size: 20px !important;
    line-height: 22px !important;
    color: #820f0f !important;
    font-weight: bold !important;
}

.texto_grande{
  font-size:44px;
  font-weight:bold;
}

.texto_mediano{
  font-size:25px;
  font-weight:bold;
  height: 42px;
}
