<% flash.each do |name, msg| %>
	<% name = 'success' if name=='notice' %>
	<% name = 'danger' if name=='alert' %>
	<div class= "alert alert-<%= name %>">
		<a href="#" data-dismiss="alert" class="close">x</a>
		<ul>
			<li>
				<%= msg %>
			</li>
		</ul>
	</div>	 
<%end%>